#root {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #f0f0f0;
    width: calc(100vw - 900px);
    height: 100%;
    padding: 10px;
    overflow-y: auto;
}

ul {
    list-style: none;
    padding: 0px;
}

.title {
    font-family: 'Bungee Hairline', cursive;
    font-size: 50px;
    margin: 10px;
}

.subtitle {
    padding: 5px;
    margin: 10px;
}

* {
    font-family: "Spartan", sans-serif;
    box-sizing: border-box;
}

.planet-element {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
}

.number-input {
    width: 5em;
}

.name-input {
    background-color: #00000000;
    border: none;
    outline: none;
    width: 8em;
}

body {
    background-color: rgb(22, 22, 22);
    overflow: hidden;
}

.hoverable {
    background-color: #00000000;
    transition: all .3s;
}

.hoverable:hover {
    background-color: #00000022;
}

li {
    margin: 5px 5px;
}